@import 'breakpoint';
@import 'variables';

:host {
  display: flex;

  mat-toolbar {
    display: flex;
    height: $header-height;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
  }

  header {
    box-sizing: border-box;
    display: flex;
    color: white;
    background: $color-d;
    height: $header-height;
    flex: 1 1 $side-nav-width;
    max-width: $side-nav-width;
    min-width: $side-nav-width;
    align-items: center;
    padding-left: 0.5em;

    @include with-media($phone) {
      flex: 1 1 $header-height;
      max-width: $header-height;
      min-width: $header-height;
      background: $color;
    }
  }
}

#brand {
  margin-left: 0.5em;
  background-color: transparent;
  font-size: 1.25em;
  @include with-media($phone) {
    display: none;
  }
}

#commands {
  flex: 1 1 auto;
  padding: 0 1em;

  @include with-media($phone) {
    padding: 0 0.5em;
  }
}


