@import 'variables';
@import 'breakpoint';

:host {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-height: 100vh;
  overflow-y: hidden;

  #main-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: $main-bg-color;
    color: $main-font-color;
    h1 {
      color: $main-font-color-vd;
    }
    h2 {
      color: $main-font-color-d;
    }

    @include with-media($phone) {
      flex-direction: column;
    }
  }

  #page {
    display: flex;
    flex: 1;
    padding: 0 1em;
    overflow-y: auto;
  }
}




