<nav fxLayout="row">
    <div class="genesis-brand-container" fxFlex="200px" fxLayout="row">
        <button id="toggle-side-bar" md-button (click)="toggleSideNav()">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <div id="brand"><a routerLink="/home" routerLinkActive="active">Genesis</a></div>
    </div>
    <ul class="genesis-nav-items">
        <li *ngIf="authService.loggedIn()">
            <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        <li *ngIf="authService.loggedIn()">
            <a routerLink="/chat" routerLinkActive="active">Chat</a>
        </li>
        <li *ngIf="authService.notLoggedIn()" class="genesis-item-right">
            <button id="login" (click)="toggleLogin()" aria-label="Se connecter">Connexion</button>
        </li>
        <li *ngIf="authService.loggedIn()" class="genesis-item-right">
            <button id="logout" (click)="logout()" aria-label="Se déconnecter">Déconnexion</button>
        </li>
    </ul>
</nav>