<nav fxFlex fxLayout="column" [ngClass]="{'collapsed': collapsed, 'minimized': minimized}">
  <ul id="side-nav-links" fxLayout="column" fxFlex (click)="close()" >
    <li mat-ripple>
      <a routerLink="/dashboard" routerLinkActive="active">
        <span class="link-description"><i class="fa fa-th"></i>Dashboard</span>
      </a>
    </li>
    <li mat-ripple>
      <a routerLink="/galaxy" routerLinkActive="active">
        <span class="link-description"><i class="fa fa-globe"></i>Galaxy</span>
      </a>
    </li>
    <li class="spacer"></li>
    <li mat-ripple (click)="disconnect()">
      <a>
        <span class="link-description"><i class="fa fa-sign-out"></i>Logout</span>
      </a>
    </li>
  </ul>
</nav>