@import '~compass-mixins';
@import 'breakpoint';
@import 'variables';

$color: mat-color(map-get($theme, primary));
$color-d: darken($color, 5%);
$color-l: lighten($color, 7.5%);

:host {
  display: flex;
  flex: 1 1 $side-nav-width;
  max-width: $side-nav-width;
  min-width: $side-nav-width;

  @include with-media($phone) {
    max-height: fit-content;
    max-width: 100%;
    min-width: 100%;

    .spacer {
      display: none;
    }

    .link-description {
      margin-right: auto;
      margin-left: auto;
    }

    nav {
      display: block !important;
    }
  }

  nav {
    background-color: $color;
    display: flex;
    flex-direction: column;
    opacity: 1;
    height: auto;
    position: relative;

    &.collapsed {
      display: none !important;
    }

    ul {
      li {
        flex-direction: row;
        position: relative;
        border-bottom: 1px solid $color-d;
      }

      a, .item {
        display: flex;
        cursor: pointer;
        color: #fff;
        padding: 1em 1em 1em 2em;

        i:before {
          position: relative;
          right: 1em;
        }

        &.active, &:hover {
          background-color: $color-l;
        }
      }
    }
  }
}
