<nav fxFlex fxLayout="column" [ngClass]="{'collapsed': collapsed, 'minimized': minimized}">
  <ul id="side-nav-links" fxLayout="column" fxFlex (click)="close()">
    <li mat-ripple>
      <a routerLink="/dashboard" routerLinkActive="active">
        <span class="link-content">
          <i class="fa fa-th"></i>
          <span class="link-description">Dashboard</span>
        </span>
      </a>
    </li>
    <li mat-ripple>
      <a routerLink="/galaxy" routerLinkActive="active">
        <span class="link-content">
          <i class="fa fa-globe"></i>
          <span class="link-description">Galaxy</span>
        </span>
      </a>
    </li>
    <li class="spacer"></li>
    <li mat-ripple (click)="disconnect()">
      <a>
        <span class="link-content">
          <i class="fa fa-sign-out"></i>
          <span class="link-description">Logout</span>
        </span>
      </a>
    </li>
  </ul>
</nav>