.spacer {
    flex: 1 1 auto;
}

.mat-column-action {
    flex: 0.2 !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

md-spinner {
    margin: auto;
}

.full-screen {
    height: 100%;
    width: 100%;
    overflow: hidden;
}