@import "../styles/variables";
@import "../styles/theme";

$main-bg-color: mat-color(map-get($theme, primary), 100);
$main-bg-color-d: darken($main-bg-color, 80%);

$main-font-color: #5F5F5F;
$main-font-color-d: darken($main-font-color, 7.5%);
$main-font-color-vd: darken($main-font-color, 15%);

$divider-color: rgba(0, 0, 0, 0.42);

body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}

app-root{
    display: flex;
    width: 100%;
}

app-side-nav {
    display: flex;
    flex: 1 1 $side-nav-width;
    max-width: $side-nav-width;
    min-width: $side-nav-width;
}

app-header {
    display: flex;
    flex: 1 1 $header-height;
    max-height: $header-height;
    min-height: $header-height;
}

main {
    background-color: $main-bg-color;
    flex: 1;
    padding: 0 1em;
    color: $main-font-color;
    overflow-x: hidden;
    overflow-y: auto;
    h1 {
        color: $main-font-color-vd;
    }
    h2 {
        color: $main-font-color-d;
    }
}

*::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 4px rgba(0,0,0,.2);
    background-color: lighten($main-font-color, 50%);
}

*::-webkit-scrollbar
{
    width: .5em;
    background-color: lighten($main-font-color, 30%);
}

*::-webkit-scrollbar-thumb
{
    width: .25em;
    box-shadow: inset 0 0 4px rgba(0,0,0,.2);
    background-color: $main-font-color;
}

.or-divider{
    margin-top: 2.5em;
    border-top: 1px solid $divider-color;

    .or-buble{
        background-color: mat-color(map-get($theme, primary));
        color: white;
        width: 40px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -20px;
        position: relative;
        text-align: center;
        border-radius: 20px;
        line-height: 40px;
    }
}

.simple-notification {
    border-radius: 2px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    font-family: Roboto, "Helvetica Neue", sans-serif;
}