@import "../styles/theme";

$fa-font-path : '../node_modules/font-awesome/fonts';
$app-font-path : './assets/fonts';
$header-height: 4em;
$side-nav-width: 200px;

$main-bg-color: mat-color(map-get($theme, primary), 100);
$main-bg-color-d: darken($main-bg-color, 80%);

$main-font-color: #5F5F5F;
$main-font-color-d: darken($main-font-color, 7.5%);
$main-font-color-vd: darken($main-font-color, 15%);