<div id="container" fxLayout fxLayoutAlign="center center">
  <md-card fxFlex="500px">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div>Connectez vous à votre compte Genesis</div>
    </div>
    <br>
    <form fxLayout="column">
      <md-form-field>
        <md-placeholder>
          <i class="fa fa-envelope"></i> Login
        </md-placeholder>
        <input mdInput type="text">
      </md-form-field>
      <md-form-field>
        <md-placeholder>
          <i class="fa fa-lock"></i> Mot de passe
        </md-placeholder>
        <input mdInput type="password">
      </md-form-field>
    </form>
    <br>
    <div fxLayout="column" fxLayoutAlign="center center">
      <button md-raised-button color="accent">Se connecter</button>
    </div>
  </md-card>
</div>
