<nav fxFlex fxLayout="column">
  <header class="header">
    <button mat-mini-fab><i class="fa fa-bars"></i></button>
    <a id="brand" routerLink="/home">GENESIS</a>
  </header>

  <ul fxLayout="column" fxFlex>
    <li mat-ripple><a routerLink="/dashboard" routerLinkActive="active"><i class="fa fa-th"></i>Dashboard</a></li>
    <li mat-ripple><a routerLink="/galaxy" routerLinkActive="active"><i class="fa fa-globe"></i>Galaxy</a></li>
    <li mat-ripple><a><i class="fa fa-bar-chart"></i>Statistiques</a></li>
    <li mat-ripple><a><i class="fa fa-road"></i>Roadmap</a></li>
    <li class="spacer"></li>
    <li mat-ripple (click)="disconnect()"><span class="item"><i class="fa fa-sign-out"></i>Déconnexion</span></li>
  </ul>
</nav>