@import './../../../styles/main';

main {
  background-color: $main-bg-color-d !important;
}

button {
  width: 100%;
}

#container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.mat-card {
  color: $main-font-color !important;
  #title {
    font-size: 1.2em;
  }
}

.mat-form-field {
  width: 100% !important;
}

.sign-up-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.section {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

