/* layout */
html, body {
    font: 14px "Roboto", Helvetica, Arial, sans-serif;
    height: 100vh;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

[id="wrapper"]{
    box-sizing: border-box;
    height: 100%;
}

[id="content"]{
    box-sizing: border-box;
    flex: 1;
}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.g-scrollable{
    overflow-y: auto;
    overflow-x: hidden;
}

/* buttons */
.md-button {
    font-size: 12px !important;
}

/* Form */
.control-label{
    font-weight: bold;
    font-size: 14px;
}

/* modal */
.g-modal {
    max-width: 90%;
    width: 50%;
}

.close-modal{
    cursor: pointer;
}

.g-modal .md-block{
    width: 80% !important;
}

.g-modal .form-genesis{
    width: 100%;
}

.g-modal .md-content{
    background-color: white !important;
}

.g-modal .control-label{
    padding-bottom: 5px;
}

.g-add-button{
    font-size: 3em;
    color: white;
}

[id="alert"] {
    margin: 7px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: #dd2c00;
}
