<div id="container" fxLayout fxLayoutAlign="center center" class="fadeIn animated">
    <md-card fxFlex="500px" class="sign-in-container">
        <div class="section">
            <img md-card-image src="img/sign-in.png" alt="Genesis">
            <div fxLayout="row" fxLayoutAlign="center center" id="title">
                <div>Connectez vous à votre compte Genesis</div>
            </div>
            <br>
            <form fxLayout="column" fxLayoutGap="0.5em" novalidate
                  [formGroup]="signInForm"
                  (ngSubmit)="signIn(signInForm)">
                <md-form-field #titi>
                    <md-placeholder>
                        <i class="fa fa-user-circle-o"></i> Identité
                    </md-placeholder>
                    <input mdInput type="text" formControlName="login">
                    <md-error ngxErrors="login">
                        <span ngxError="required">Obligatoire</span>
                    </md-error>
                </md-form-field>
                <md-form-field>
                    <md-placeholder>
                        <i class="fa fa-lock"></i> Mot de passe
                    </md-placeholder>
                    <input mdInput type="password" formControlName="password">
                    <md-error ngxErrors="password">
                        <span ngxError="required">Obligatoire</span>
                    </md-error>
                </md-form-field>
                <div>
                    <md-checkbox type="checkbox" formControlName="rememberme">Se souvenir de moi</md-checkbox>
                </div>
                <br>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <span id="forgotten-password">Mot de passe oublié ?</span>
                    <br>
                    <button md-raised-button color="accent" type="submit">
                        Log in
                    </button>
                </div>
            </form>
        </div>
        <div class="or-divider">
            <div class="or-buble">
                ou
            </div>
        </div>
        <br>
        <div class="section">
            <div fxLayout="column" fxLayoutAlign="center center">
                <button md-raised-button color="primary" (click)="register()">
                  S'inscrire
                </button>
            </div>
        </div>
    </md-card>
</div>
